<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
<a href="{% url 'dashboard:load_work_items' %}">Home</a><br>
IA Documents
{% if files %}
    <ul>
    {% for file in files %}
        <li><a id="link" href="#">{{ file }}</a></li>
        <script>
            $(document).ready(function () {
                $("#link").click(function (e) {
                    e.preventDefault();
                      
                    window.location.href 
                        = {{ file }};
                });
            });
        </script>
    {% endfor %}
    </ul>
    
{% else %}
    <p>404</p>
{% endif %}

