{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Workitem - {{ work_item.id }}{% endblock title %}
{% block content %}

{% if work_item %}
    <div class="card" style="margin: 10px">
        
        <h5 class="card-header">{{ work_item.id }} - {{ work_item.state }}</h5>
        <div class="card-body">            
            <div style="display: flex; flex-direction: row">
                <h4 class="card-title"><a href="{% url 'dashboard:workitem' work_item.id %}">{{ work_item.title }}</a></h4>
            </div>
            <a href="{% url 'dashboard:create_IA' work_item.id %}" class="btn btn-primary">Create IA</a>
            <a href="{% url 'dashboard:create_CR' work_item.id %}" class="btn btn-success">Create CR</a>
        </div>

        {% if work_item_comments %}
            <ul class="list-group list-group-flush">
                {% for work_item_comment in work_item_comments %}
                    <li class="list-group-item">
                        {{ work_item_comment.body }} {{ work_item_comment.created }}
                        <a href="#" id="{{ work_item_comment.id }}" data-toggle="collapse" data-target="#collapseExample_{{ work_item_comment.id }}" aria-expanded="false" aria-controls="collapseExample_{{ work_item_comment.id }}">Update</a>
                        <a href="{% url 'dashboard:delete_comment' work_item_comment.id %}">Delete</a>
                        <div class="collapse" id="collapseExample_{{ work_item_comment.id }}">
                            <form action="{% url 'dashboard:update_comment' work_item_comment.id %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="body" id="{{ work_item_comment.id }}" required>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <div class="card-footer text-muted">
            <p>Add comment</p>
            <form action="{% url 'dashboard:create_comment' work_item.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="body" id="{{ work_item_comment.id }}" required>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    
    </div>

{% else %}
    <p>404</p>
{% endif %}

{% endblock content %}
